.DS_Store

literature_reivews/*.pdf
paper_review/*.pdf
simulation/*.pdf
proposal_presentation/*.pdf

*.aux
*.fdb_latexmk
*.fls
*.log
*.bbl
*.blg
*.synctex.gz

proposal_presentation/*.nav
proposal_presentation/*.out
proposal_presentation/*.snm
proposal_presentation/*.toc